@media (max-width: 1600px) {
    body {
        .main {
            .container {
                .bg-img1 {
                    left: -400px;
                    top: 560px;
                }

                .bg-img2 {
                    top: 190px;
                    left: 210px;
                }

                .bg-img3 {
                    right: 120px;
                    top: 420px;
                }

                .bg-img4 {
                    right: -440px;
                    top: 700px;
                }
            }
        }
    }
}

@media (max-width: 1280px) {
    body {
        .main {
            .container {
                .bg-img1 {
                    left: -252px;
                    top: 540px;
                    width: 390px;
                }

                .bg-img2 {
                    top: 170px;
                    left: 210px;
                    width: 170px;
                }

                .bg-img3 {
                    right: 150px;
                    top: 390px;
                    width: 290px;
                }

                .bg-img4 {
                    right: -150px;
                    top: 650px;
                    width: 470px;
                }
            }
        }
    }
}

@media (max-width: 1164px) {
    body {
        .main {
            .container {
                .block {
                    scale: 0.8;
                    z-index: 4;
                }
            }
        }
    }
}

@media (max-width: 1024px) {
    body {
        .main {
            .container {
                .bg-img1 {
                    left: -182px;
                    top: 420px;
                    width: 290px;
                }

                .bg-img2 {
                    top: 110px;
                    left: 170px;
                    width: 130px;
                }

                .bg-img3 {
                    right: 140px;
                    top: 290px;
                    width: 190px;
                }

                .bg-img4 {
                    right: -90px;
                    top: 490px;
                    width: 330px;
                }
                .block {
                    scale: 0.7;
                }
            }
        }
    }
}

@media (max-width: 854px) {
    body {
        .header {
            .container {
                .logo-container {
                    .logo {
                        height: 54px;
                        width: 140px;
                        background-size: cover;

                        img {
                            width: 80%;
                        }
                    }

                    p {
                        font-size: 32px;
                    }
                }
            }
        }

        .main {
            .container {
                .bg-img1 {
                    left: -170px;
                    top: 360px;
                    width: 280px;
                }

                .bg-img2 {
                    top: 100px;
                    left: 170px;
                    width: 120px;
                }

                .bg-img3 {
                    right: 110px;
                    top: 220px;
                    width: 200px;
                }

                .bg-img4 {
                    right: -100px;
                    top: 450px;
                    width: 350px;
                }

                .block {
                    scale: 0.6;
                    z-index: 4;
                }
            }
        }
    }
}

@media (max-width: 732px) {
    body {
        .header {
            padding-top: 10px;

            .container {
                .logo-container {
                    .logo {
                        height: 34px;
                        width: 88px;
                        background-size: cover;

                        img {
                            width: 80%;
                        }
                    }

                    p {
                        font-size: 22px;
                        margin-left: 8px;
                    }
                }
            }
        }

        .main {
            .container {
                .bg-img1 {
                    left: -146px;
                    top: 310px;
                    width: 240px;
                }

                .bg-img2 {
                    top: 113px;
                    left: 145px;
                    width: 100px;
                }

                .bg-img3 {
                    right: 110px;
                    top: 200px;
                    width: 160px;
                }

                .bg-img4 {
                    right: -70px;
                    top: 370px;
                    width: 300px;
                }

                .block {
                    scale: 0.5;
                    margin-bottom: 40px;
                }
            }
        }
    }
}

@media (max-width: 640px) {
    body {
        .main {
            .container {
                .bg-img1 {
                    left: -176px;
                    top: 260px;
                    width: 240px;
                }

                .bg-img2 {
                    top: 84px;
                    left: 100px;
                    width: 98px;
                }

                .bg-img3 {
                    right: 70px;
                    top: 180px;
                    width: 150px;
                }

                .bg-img4 {
                    right: -80px;
                    top: 340px;
                    width: 280px;
                }
            }
        }
    }
}

@media (max-width: 512px) {
    body {
        .header {
            padding-top: 10px;

            .container {
                .logo-container {
                    .logo {
                        height: 28px;
                        width: 74px;
                        background-size: cover;

                        img {
                            width: 80%;
                        }
                    }

                    p {
                        font-size: 18px;
                        margin-left: 6px;
                    }
                }
            }
        }

        .main {
            .container {
                .bg-img1 {
                    left: -102px;
                    top: 234px;
                    width: 160px;
                }

                .bg-img2 {
                    top: 74px;
                    left: 94px;
                    width: 80px;
                }

                .bg-img3 {
                    right: 74px;
                    top: 146px;
                    width: 110px;
                }

                .bg-img4 {
                    right: -40px;
                    top: 280px;
                    width: 200px;
                }

                .block {
                    scale: 0.36;
                    margin-bottom: 30px;
                }
            }
        }
    }
}